# /data folder contains datasets
/data

# private.config is where you store private configuration for github and colab interaction
private.config

*.npz

# ngrok required to make ssh connections, but we don't need to upload it to repos
ngrok*